<footer class="center page-footer light-blue darken-4">
    <div class="section">
      <span>
        Made With Love<i class="tiny material-icons heart-icon">favorite</i>By Rawan Al-Rajabi &copy; 2021
      </span>
    </div>
</footer>