<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper light-blue accent-4">
        <div class="left valign-wrapper col s6">
          <img class="responsive-img left" width="40px" src="assets/pokeball.png" alt="">
          <span class="flow-text">Pokédex</span>
        </div>
        <form class="col s6 right">
          <div class="input-field right search-input-field">
            <input type="search" class="autocomplete">
            <label class="label-icon" for="search">
              <button class="waves-effect waves-teal btn-flat search-button">
                <i class="material-icons">search</i>
              </button>
            </label>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>